:root {
    --blue: #1e90ff;
    --white: #ffffff;
    /*bg color - even*/
    --colour0: #393E46;
    /*body text - largest contrast to bg color*/
    --colour1: #C8C2BC;
    /*separators - some contrast to bg color*/
    --colour2: #F4A9A8;
    /*heading/accent/active - even - some contrast to body text (colour1)*/
    --colour3: rgba(0, 0, 0,0.15);
    /*accent (guestbook info) - even*/
    --colour4: #D9CAB3;
    /*shadow - greyish*/
    --colour5: rgba(0, 0, 0,0.15);
    --colour5: #666666;
    /*headings*/
    --colourh1: #FBC6A4;
    --colourh2: #AFB9C8;
    --colourh3: #F56D91;
    --fontDefSize: 0.82em;
}

* {
    box-sizing: border-box;
    font-family: 'Raleway';
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    color: var(--colour1);
    flex-direction: column;
    background-color: var(--colour0);
}

footer {
    margin-top: auto;
    text-align: center;
    padding-top: 2%;
}

hr {
    border: 1px solid var(--colour2);
}

img {
    border-radius: 0;
    filter: drop-shadow(5px 5px 5px var(--colour3)) contrast(0.8) saturate(1);
    width: 100%;
}

p {
    color: var(--colour1);
    word-wrap: break-word;
}

a {
    color: var(--colour1);
    word-wrap: break-word;
}

h1 {
    color: var(--colourh1);
    font-family: 'Raleway';
}

h2 {
    color: var(--colourh2);
    font-family: 'Raleway';
}

h3 {
    color: var(--colourh3);
    font-family: 'Raleway'
}

h4 {
    color: var(--colourh1);
    font-family: 'Raleway';
}

h5 {
    color: var(--colourh2);
    font-family: 'Raleway';
}

h6 {
    color: var(--colourh3);
    font-family: 'Raleway';
}

h7 {
    color: var(--colourh1);
    font-family: 'Raleway';
    display: block;
}

header {
    background-color: var(--colour3);
}

input[type=text] {
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid #ccc;
}

select {
    width: 100%;
    padding: 0.7%;
    border-radius: 4px;
    border: 2px solid #ccc;
}

textarea {
    width: 100%;
    resize: none;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid #ccc;
}

button {
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    box-sizing: border-box;
}

meter {
    width: 100%;
}

div {
    text-align: justify;
    text-justify: inter-word;
}

div#contentObject .column {
    padding-right: 2%;
}

/*================================================================*/
/* LINKS */
/*================================================================*/

/* unvisited link */
a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  text-decoration: none;
}

/* mouse over link */
a:hover {
}

/* selected link */
a:active {
  text-decoration: none;
}

/* Create two equal columns that floats next to each other */
.column {
    width: 50%;
    float: left;
}

/* Create two equal columns that floats next to each other */
.content {
    width: 50%;
    float: left;
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 1%;
}

div#contentObject {
    border-left: 3px solid var(--colour3);
    padding-left: 3%;
    padding-bottom: 3%;
    padding-top: 2%;
}

div#oneColumn {
    width: 100%;
    padding-top: 1%;
    padding-left: 5%;
}

.sidebar {
    width: 50%;
    float: left;
    padding-top: 2%;
    padding-right: 1%;
    padding-left: 5%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.scrollable {
    background-color: transparent;
    overflow: auto;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 960px) {
    .content {
        padding: 1% 2%;
        width: 100%;
    }
    .sidebar {
        padding-right: 2%;
        padding-left: 2%;
        padding-bottom: 2%;
        width: 100%;
    }
    div#contentObject {
        border-top: 3px solid var(--colour3);
        border-left: 0;
        padding-left: 0;
        padding-bottom: 0;
        padding-top: 2%;
    }
    .column {
        width: 100%;
    }
}

/*================================================================*/
/* HEADER */
/*================================================================*/

.topnav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    padding-left: 5%;
}

.headerObject {
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 2%;
}

.active, .headerObject:hover {
    text-decoration: underline;
}

.topnav a {
    display: block;
    color: var(--colour1);
    text-decoration: none;
    font-size: calc(var(--fontDefSize)*3.5);
}

@media screen and (max-width: 960px) {
    .headerObject {
    	text-align: center;
    	padding: 1% 0;
    }
    .topnav a {
        font-size: calc(var(--fontDefSize)*1.8);
    }
    .topnav {
    	display: flex;
    	flex-direction: row;
    	flex-wrap: nowrap;
    	justify-content: space-around;
    	align-items: stretch;
    	align-content: stretch;
        padding: 0;
    }
}

/*================================================================*/
/* LANDING */
/*================================================================*/

div#landing .sidebar {
    width: 50%;
}

div#landing .content {
    width: 50%;
}

@media screen and (max-width: 960px) {
    div#landing .content {
        width: 100%;
    }

    div#landing .sidebar {
        width: 100%;
        padding-top: 3%;
    }
}

/*================================================================*/
/* GUESTBOOK */
/*================================================================*/

div#guestbook .row {
    padding-bottom: 1%;
}

div#guestbook .scrollable hr {
    border: 0.5px dashed var(--colour3);
    margin-right: 2%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

div#guestbook .scrollable {
    height: 28vh;
}

div#guestbook .column {
    padding-right: 1%;
}

div#reviewEntry {
	width: 100%;
}

div#guestbook textarea {
    height: 10vh;
}

div#guestbook img {
    height: calc(var(--fontDefSize)*1.5);
}

div#guestbook p {
    font-size: calc(var(--fontDefSize)*2);
}

div#guestbook > img, div#guestbook > p {
    display: inline;
}

@media screen and (max-width: 960px) {
    div#guestbook .column {
        width: 100%;
        padding-right: 0;
    }
}

/*================================================================*/
/* SIDENAV */
/*================================================================*/

nav {
    padding: 0;
}

nav select {
    display: none;
}

nav ul {
    list-style: none;
    padding: 0 0;
}

@media (max-width: 960px) {
    nav {
        padding-bottom: 1%;
    }
    nav ul     {
        display: none;
    }
    nav select {
        display: inline-block;
    }
}

/*================================================================*/
/* ABOUT */
/*================================================================*/

div#about .sidebar {
    width: 30%;
}

div#about .content {
    width: 70%;
}

div#about a:hover {
    color: var(--colour2);
}

div#about img {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2%;
    padding-top: 1%;
}

@media screen and (max-width: 960px) {
    div#about .content {
        width: 100%;
    }

    div#about .sidebar {
        width: 100%;
    }
    div#about img {
        padding: 1% 0;
    }
}

/*================================================================*/
/* PROJECTS */
/*================================================================*/

div#projects .sidebar {
    width: 30%;
}

div#projects .content {
    width: 70%;
}

div#projects a:hover {
    color: var(--colour2);
}

div#projects img {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2%;
    padding-top: 1%;
}

@media screen and (max-width: 960px) {
    div#projects .content {
        width: 100%;
    }

    div#projects .sidebar {
        width: 100%;
    }

}
