:root {
    --blue: #1e90ff;
    --white: #ffffff;
    /*bg color - even*/
    --colour0: #393E46;
    /*body text - largest contrast to bg color*/
    --colour1: #C8C2BC;
    /*separators - some contrast to bg color*/
    --colour2: #F4A9A8;
    /*heading/accent/active - even - some contrast to body text (colour1)*/
    --colour3: rgba(0, 0, 0,0.15);
    /*accent (guestbook info) - even*/
    --colour4: #D9CAB3;
    /*shadow - greyish*/
    --colour5: rgba(0, 0, 0,0.15);
    --colour5: #666666;
    /*headings*/
    --colourh1: #FBC6A4;
    --colourh2: #AFB9C8;
    --colourh3: #F56D91;
    --fontDefSize: 0.82em;
}

/*
https://css-tricks.com/almanac/properties/j/justify-content/#:~:text=flex%2Dend%20%3A%20items%20are%20packed,with%20equal%20space%20around%20them
*/

* {
    box-sizing: border-box;
    font-family: 'Raleway';
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    color: var(--colour1);
    flex-direction: column;
    background-color: var(--colour0);
}

.container {
    padding: 0;
	margin: 0;
}

@media screen and (max-width: 960px) {
    .container {
        padding: 0;
    	margin: 0;
    }
    .main {
        padding: 0;
    }
}

hr {
    border: 1px solid var(--colour2);
}

img {
    border-radius: 1em;
    filter: drop-shadow(2px 2px 2px var(--colour5)) contrast(0.7) saturate(1);
}

p {
    color: var(--colour1);
    word-wrap: break-word;
}

a {
    color: var(--colour1);
    word-wrap: break-word;
}

h1 {
    color: var(--colourh1);
    font-family: 'Raleway';
}

h2 {
    color: var(--colourh2);
    font-family: 'Raleway';
}

h3 {
    color: var(--colourh1);
    font-family: 'Raleway'
}

h4 {
    color: var(--colourh2);
    font-family: 'Raleway';
}

h5 {
    color: var(--colourh1);
    font-family: 'Raleway';
}

h6 {
    color: var(--colourh2);
    font-family: 'Raleway';
}

h7 {
    color: var(--colourh3);
    font-family: 'Raleway';
    display: block;
}

/*================================================================*/
/* LINKS */
/*================================================================*/

/* unvisited link */
a:link {
  text-decoration: underline;
}

/* visited link */
a:visited {
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

/* selected link */
a:active {
  text-decoration: none;
}

/* Create two equal columns that floats next to each other */
.column {
    width: 50%;
    float: left;
}

/* Create two equal columns that floats next to each other */
.content {
    width: 50%;
    float: left;
}

.sidebar {
    width: 50%;
    float: left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.scrollable {
    background-color: transparent;
    overflow: auto;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 960px) {

}

/*================================================================*/
/* HEADER */
/*================================================================*/

div#header .column {
    text-align: center;
}

.topnav {
    display: flex;
    justify-content: space-around;
}

.topnav .column a {
    display: block;
    color: var(--colour1);
    padding: 1px 1px;
    text-decoration: none;
    font-size: 1.5em;
}

.topnav .column a.active {
    background-color: var(--colour3);
    color: var(--colour1);
}

.topnav .column a:hover:not(.active) {
    background-color: var(--colour3);
    color: var(--colour1);
}

div#header hr {
    border: 2px solid var(--colour2);
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 960px) {
}

/*================================================================*/
/* LANDING */
/*================================================================*/

.landing {
    padding: 0;
}

div#landing .left {
    width: 60%;
    padding: 0 3%;
}

div#landing .right {
    width: 40%;
    padding: 0 3%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 960px) {
    .landing {
        padding: 0 ;
    }
    div#landing .left {
        width: 100%;
    }

    div#landing .right {
        width: 100%;
    }
}

.mySlides {
    display:none

}
.w3-left, .w3-right, .w3-badge {
    cursor:pointer
}
.w3-badge {
    height:13px;
    width:13px;
    padding:0
}

/*================================================================*/
/* GUESTBOOK */
/*================================================================*/

div#guestbook .row {
    padding-bottom: 2%;
}

div#guestbook hr {
    border: 0.5px dashed var(--colour3);
    margin-right: 2%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

div#guestbook .scrollable {
    height: 30vh;
}

.reviewEntry {
    padding: 10% 30%;
}

.guestbook {
    display: flex;
    align-items: space-between;
    height: 100%;
}

.messageBox {
    width: 100%;
    height: 6vh;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 960) {

}

/*================================================================*/
/* ABOUT */
/*================================================================*/
.about {
    padding: 0;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 960px) {
    .about {
        padding: 0;
    }
}

/*================================================================*/
/* PROJECTS */
/*================================================================*/

@media screen and (max-width: 960px) {
    .projects {
        padding: 0;
    }
}

/*================================================================*/
/* POSTS */
/*================================================================*/
.posts {
    padding: 1.5% 2%;
}

.posts .row {
    padding: 1% 1%;
    text-align: justify;
}

.posts div#row hr {
    border: 0.4px dashed var(--colour2);
}

.posts div#details {
    color: var(--colour5);
}

div#posts .collapsible {
    padding: 0.2% 5%;
}

/* Create two equal columns that floats next to each other */
div#posts .column {
    float: left;
    padding: 10px;
}

div#posts .sidenav {
    width: 25%;
}

div#posts .main {
    width: 75%;
}

div#posts .left {
    width: 30%;
}

div#posts .right {
    width: 70%;
}

/* Clear floats after the columns */
div#posts .row {
    padding: 1.5% 5%;
}

/* Clear floats after the columns */
div#posts .row:after {
    content: "";
    display: table;
    clear: both;
}

div#posts img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1% 2%;
    width: 100%;
}

div.gallery {
    margin: 5px;
    border: 0px solid #ccc;
    float: left;
    width: 30%;
    padding: 5% 1%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  display: block;
  max-width: 100%;
  max-height: 30vh;
  width: auto;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

}

/*================================================================*/
/* FOOTER */
/*================================================================*/

.footer {
    margin-top: auto;
    text-align: center;
}

div#footer .container {
    padding: 0;
}

